h1 {
  color: white;
  background-color; yellow;
  font-family: Didot;
  font-weight: bold;
  font-size: 60px;
}

body {
  background-color: #CD9B9B;
}

p {
  color: black;
  font-family: Helvetica;
}

li {
  color: white;
  font-family: Helvetica;
}
