h1 {
  color: white;
  background-color; yellow;
  font-family: Didot;
  font-weight: bold;
  font-size: 60px;
}

body {
  background-color: #CD9B9B;
}

p {
  color: white;
  font-family: Helvetica;
}

li {
  color: white;
  font-family: Helvetica;
}
.space {
  margin-top: 30px;
  margin-bottom: 40px;
}

p {
  color: white;
  font-family: Helvetica;
}

.spalte img {
  max-width: 33em;
  width: 95%;
}
