
html {
  line-height: 1.6; /* 1 */
  font-family: 'Roboto', sans-serif;
  hyphens: auto;
  font-size: 15px;
  color: white;
}

body {
  background-color: #white;
}

h1 {
  color: white;
  font-family: Adam;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.2em;
  padding-top: 6rem;
  text-align: center;
  }

  p {
    color: black;
    margin-left: 4rem;
    font-weight: lighter;
    letter-spacing: 0.02rem;
    margin-right: 4rem;
  }

b {
  font-style: italic;
  color: black;
  font-weight: lighter;
}

c {
  color: black;
  font-weight: lighter;
  font-size: 0.7rem;
  font-style: italic;
}


  h2 {
    color: #A2876A;
    font-weight: lighter;
    padding-left: 2rem;
    letter-spacing: 0.05em;
  }

a {
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
}


p1{
  color: black;
  text-decoration: none;
  font-weight: lighter;
}

p2{
  font-style: italic;
}

nav{
    padding-bottom: 6rem;
    text-align: center;
  }

img {
  max-width: 100%;
}



.dark {
  color: #A2876A;
  font-size: 0.8rem;
}

.center {
  text-align: center;
  font-size: .7rem;
}

.inner {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border: 0.01rem solid #A2876A;
  width: 19rem;
  color: #A2876A;
  text-align: center;
  font-weight: lighter;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  margin: 0 auto;
  display:block;
  vertical-align: middle

}
summary {
  padding: 20px 30px 6px 16px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight; lighter;
  color: black;
  display: block;
  margin-left: 4rem;
}

.box{
  background-image: url('./z_bilder/flohmarkt.jpg');
  background-size:100%;
}

.grid {
  padding-top: 20px;
  width:100%;
  max-width:50rem;

  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
 justify-content: space-between;
}

.image {
  padding-bottom: 4rem;
}


.spalte{
  flex-grow: 1;
 flex-shrink: 1;
 flex-basis: 5.58333333%;
 max-width: 100%;
 background-color: white;
 /* $col-breite: (100 - 30) / 10; */
 background-color: yellow;
}


.spalte-links {
  width: 35%;
  background-color: blue;

}


.content-1-2 {
  width: 47%;


}

.content-1 {
  width: 100%;
}


.content-1-3 {
  width: 31.333%;
}

.content-2-3 {
  width: 65.666%;
}


.spalte-rechts {
  width: 60%;
  background-color: gray;
}

.spalte4{
 flex-basis: 48%;
 max-width: 48%;
 height: 20em;
 background-image: linear-gradient(
      to right,
      #FED2CF,
      #fff,
      #B5D5D8);
}
.spalte8{
 flex-basis: 48%;
 max-width: 47%;
 height: 20em;
}

.image1 {
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translate(0, 5rem);
   position: relative;
   z-index: 3;
 }

 .image1 img {
   height: 15vmax;
   padding-bottom: 2.5rem;
 }

.hero-background {
   height: 300px;
   background: rgba(161,145,117,.3);
   position: relative;
   z-index: 2;
}

.hero-text {
 text-align: center;
 position: absolute;
 top: 30%;
 left: 50%;
 transform: translate(-50%, -50%);
 margin: 0 auto;
 display:block;
 vertical-align: middle
 opacity: 100%;
 z-index: 5;
}

.hero-fusszeilentext {
  color: #A2876A;
  font-style: lighter;
  font-size: 0.8rem;
  padding-top: -2rem;
  margin: 0 auto;
  opacity: 100%;
  z-index: 7;
}


.sidenav {
    height: 20rem;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 2.5rem;
    color: black;
}

/* The navigation menu links */
.sidenav a {
    padding: 20px 30px 6px 16px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight; lighter;
    color: black;
    display: block;
}


.details1 summary:hover {
    color: #A2876A;
}

.copyright {
  font-size: 0.7rem;
  text-align: center;
}


@media only screen and (max-width: 920px) {

  .content-1-3 {
    width: 100%;
  }

  .content-2-3 {
    width: 100%%;
  }

  p {
    color: black;
    font-weight: lighter;
    letter-spacing: 0.02rem;
    margin-right: 4rem;
    margin-left: 2rem;
}

  p1 {
    color: black;
    font-weight: lighter;
    letter-spacing: 0.02rem;
    margin-right: 4rem;
    margin-left: 2rem;
  }

  .grid {
    padding-top: 20px;
    width:75%;
    margin-left:6rem;
    margin-right: 3rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
  }

  h1 {
    color: white;
    font-family: Adam;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.2em;
    padding-top: 6rem;
    text-align: center;
    }

}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
